.home{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(240, 182, 182, 0.578),rgba(98, 3, 38, 0.677));
    /* background: linear-gradient(rgba(240, 182, 182, 0.518),rgba(252, 212, 212, 0.523)); */


}
.home-content{
    margin:70px;
    display: flex;
    justify-content: space-evenly;
}
.heading{
    margin: 100px 90px 30px 25px;
    
}
.heading h1{
    
    font-size: 2.4rem;
    font-weight:550;
    margin-bottom: 30px;
    color: rgb(98, 3, 38);
}
.heading p{
    color: rgb(124, 3, 45);
}
.banner-btn{
    margin: 50px auto 0;
    }
.banner-btn a{
    border: 2px solid rgba(98, 3, 38, 0.54);
    border-radius: 2px;
    color: rgba(98, 3, 38, 0.948);
    /* display: inline-block; */
    margin:  10px;
    font-size: 20px;
    font-weight: 100;
    padding:  10px 20px;
    position: relative;
    text-decoration: none;
    transition: color .5s;
    width: 150px;
    z-index: 1;
}
.banner-btn a:hover {
    color: #fcfafa;
    border: 2px solid  rgb(11, 11, 75);
}
.banner-btn a span {
    background:  rgb(11, 11, 75);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: .5s;
    width: 0;
    z-index: -1;
}
.banner-btn a:hover span {
    width: 100%;
}


.heading-img img{
    width: 650px;
    height: 550px;
    border-radius: 50%;
}